@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about">
    <h3>About Me:</h3>

    <p>
        Hello, my name is Dariel Urbina, I’m from Havana, Cuba. I came to the United States in 2015,
        and I’m really grateful for this amazing opportunity,
        even though my family is still in Cuba.
    </p>

    <br />

    <p>
        I am a friendly and self-motivated individual that enjoys working with others, loves problem solving,
        and staying up to date with technology.
    </p>

    <br />

    <h3>Things I am interested in:</h3>

    <p>
        I’m a big fan of sports, especially when I go to the stadium
        or watch games with friends.
    </p>

    <p>
        Currently I live in Louisville, Kentucky.
        The people are so nice and make you feel at home and not being a big city make my adaptation to the country easier.
        The culture here is good, as well as the food, not too cold, which is a plus for me coming from the Caribbean.
    </p>
</div>



