@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hidden-xs">
    <object data="~/Content/PDF/DarielUrbinaResume.pdf" type="application/pdf" height="900"></object>
</div>

<div class="visible-xs resume">
    <a href="/Content/PDF/DarielUrbinaResume.pdf" target="_blank">DarielUrbinaResume.pdf</a>  
</div>






