/*validation errors*/
.validation-summary-errors {
    color: red;
    font-size: 30px;
}

.error-template {
    margin-top: 20px;
    height: 70vh;
    padding: 80px 15px;
    text-align: center;
    background-color: white;
    border-radius: 5%;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .error-template {
      height: 80vh;
      padding: 200px 15px;
    }
}


