<div>
    <a href="https://www.linkedin.com/in/dariel-urbina-9a854bb2/" class="fa fa-linkedin" target="_blank"></a>
    <a href="https://github.com/darielurbina0702/" class="fa fa-github" target="_blank"></a>
</div>

